@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-emerald-50: #ecfdf5;
  --color-emerald-100: #d1fae5;
  --color-emerald-200: #a7f3d0;
  --color-emerald-400: #34d399;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-emerald-700: #047857;
}

@tailwind utilities;

@layer base {
  body {
    @apply font-poppins antialiased text-gray-800 bg-gray-50;
  }

  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300;
  }
}
